

body {
    background-image: url("images/index-back2.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color:antiquewhite;
    margin: 0;
    padding-top: 70px;
}

/* decoration des section, afin de les sortir du fond */
#cadre1 {
   background-color: rgba(33, 8, 95, 0.367);
}

#profil {
    background-color: rgba(7, 84, 152, 0.364);
}
/* -------------------------------------------------- */


/* --------Code de la barre de navigation----- */
header {
    position:fixed;
    display: grid; 
    grid-template-columns: auto 1fr; 
    align-items: center; 
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 100%;
    padding: 0 20px 20px;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
}

#item1{
    height: 60px;
    width: 60px;
    background-image: url('images/bts.png');
    background-size: cover;
    background-position: center;
    margin: 10px;
}

header nav ul {    
    list-style: none;    
    display: flex;    
    justify-content: flex-end;    
    gap: 25px;    
    margin-right: 5%;    
    padding: 15px;
} 

.hamburger {
    display: none;
    font-size: 28px;
    cursor:pointer;
    color:aliceblue;
}

@media (max-width:768px) {    
    /* header : seulement logo + bouton */    
    header {        
        grid-template-columns: auto 1fr;    
    }    /* le bouton hamburger à droite */    

    .hamburger {        
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1001;            
    }    /* enlever l'espace réservé à la nav dans le header */    
    
    nav {        
        position: static;    
    }    /* menu masqué par défaut */    
    
    nav ul {        
        display: none !important;        
        flex-direction: column;        
        position: absolute;        
        top: 70px;        
        left: 0;        
        width: 100%;        
        background-color: black;        
        gap: 15px;        
        padding: 20px 0;        
        text-align: center;        
        margin: 0;    
    }    /* menu ouvert */    
    
    nav ul.active {        
        display: flex !important;  
    }
} 
/* -------------------------------------- */


/* --------Code de l'index et des deux options----- */

#titre{
    margin-top: 70px;
}

#description{
    margin:0px 50px 0px 50px;
    line-height: 1.5;
}

#bts{ 
    display: flex;
    margin:40px;
    padding: 20px;
    gap: 100px;
    justify-content: center;
}

.partie1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}


#item3{
    background-image: url('images/sisr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px black;
}
#item3:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

#item4{
    background-image: url('images/slam.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px black;

}

#item4:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

            /* Style modal index */
.modal1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content{
    background:rgb(255, 255, 255) ;
    color:black;
    padding: 50px;
    border-radius: 10px;
    border-left:solid 4px rgb(80, 200, 255);
    border-right:solid 4px rgb(205, 117, 255);
    border-top:solid 4px rgb(80, 200, 255);
    border-bottom:solid 4px rgb(205, 117, 255);
    width: 350px;
}

#close{
    float: right;
    font-size: 24px;
    cursor: pointer;
}
    /* ----------------- */

/* ------------------------------------------- */


/* --------code de la partie réalisations-------- */

#réalisations{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr 4fr;
    border: solid black 5px;
    margin: 50px 250px 50px 250px;
    margin: 0 auto;
    gap:8px;
    padding: 20px;
    width: 50%;
    
    background-color : hsla(260, 60%, 65%, .6);
}

.partie2{
    min-height: 50px;
    width: 100%;
    background-color : hsla(260, 60%, 65%, .6);
}

#item5{
    display: flex;
    background-color: rgb(29, 29, 29, .6);
    justify-content: center;
    align-items: center;
}

#item6{
    display: flex;
    background-color: rgb(29, 29, 29, .6);
    justify-content: center;
    align-items: center;
}

#item7{
    background-image: url('images/sisr2.png');
    background-size: cover;
    background-position: center;
}

#item8{
    background-image: url('images/slam2.png');
    background-size: cover;
    background-position: center;
}
/* ----------------------------------------------- */


/* ---------code de la partie veille informationnelle */

#item9{
    height: 300px;
    width: 300px;
    border: solid black;
    margin-right: auto ;
    margin-left: auto ;

}

/* ---------------------------------------------------- */

/* ------Code de la partie contacts---------- */

#item10 img {
    max-width: 5%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fname{
    border-radius: 5px;
}

#lname{
    border-radius: 5px;
}

#email{
    border-radius: 5px;
}

#message{
    border-radius: 30px;
}

#btn{
    border-radius: 5px;
}

/* ----------------------------------------------- */



/* Style des liens */
a{
    text-decoration: none;
    color: antiquewhite;
}
a:hover{
    text-decoration:underline;
    color: rgb(91, 91, 250);
}
/* ---------------------------- */