
/* --------Code de la barre de navigation----- */
header {
    display: grid; 
    grid-template-columns: auto 1fr; 
    align-items: center; 
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

#item1{
    height: 60px;
    width: 60px;
    background-image: url('images/bts.png');
    background-size: cover;
    background-position: center;
    margin: 10px;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content:end;
    gap: 25px;
    margin: 0;
    padding: 15px;
}
/* -------------------------------------- */


/* --------Code de l'index et des deux options----- */
#index{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(4, 1fr);
    border: solid black;
    margin: 10px;
    padding: 10px;
    gap: 20px;
}

.partie1{
    min-height: 150px;
    width: 100%;
}

#item2{
    background-image: url('images/index.jpg');
    background-size: cover;
    background-position: center; 
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    border-radius: 5px;
}

#item3{
    background-image: url('images/sisr.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2;
    grid-row: 4;
    border-radius: 5px;
}

#item4{
    background-image: url('images/slam.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 4;
    grid-row: 4;
    border-radius: 5px;
}
/* ------------------------------------------- */


/* --------code de la partie réalisations-------- */

#réalisations{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
    border: solid black;
    margin: 50px 250px 50px 250px;
    margin-left: ;
    padding-bottom: 50px;
    background-color : hsla(260, 60%, 65%, .6);
}

.partie2{
    min-height: 50px;
    width: 100%;
    background-color : hsla(260, 60%, 65%, .6);
}

#item5{
    background-color: rgb(29, 29, 29, .6);
    text-align: center;
}

#item6{
    background-color: rgb(29, 29, 29, .6);
    text-align: center;
}

#item7{
    background-image: url('images/sisr.jpg');
    background-size: cover;
    background-position: center;
    margin:
    
}

#item8{
    background-image: url('images/sisr.jpg');
    background-size: cover;
    background-position: center;
    margin:
    
}
/* ----------------------------------------------- */


/* ---------code de la partie veille informationnelle */

#item9{
    height: 300px;
    width: 300px;
    border: solid black;
    margin-right: auto ;
    margin-left: auto ;

}

/* ---------------------------------------------------- */

/* ------Code de la partie contacts---------- */
