
body{
    /* Importation from Vecteezy, auteur: "aqilah" */
    background-image: url(../images/veille.jpg);
    /* Fin d'importation */

    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: antiquewhite; 
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    pointer-events: auto !important; 
    text-decoration: none;
    color: inherit; 
}
a:hover {
    text-decoration: underline;
    color: #13ddd3; 
}


/*  HEADER BARRE DE NAVIGATION                   */

header {
    background-color: rgba(9, 2, 36, 0.552);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    border-radius: 10px;
    margin: 15px 20px 20px 20px;
    width: auto;
}


#sortie, #spacer {
    min-width: 30px; 
    text-align: left;
}

i {
    background-color: rgba(250, 235, 215, 0.927);
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
}

header h2 {
  
    text-align: center;
    margin: 0; 
    flex-grow: 1; 
}


.intro {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.intro p {
    line-height: 1.8;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 8px;
}


.grille {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    
    background-color: rgba(0, 0, 0, 0.448);
    margin: 30px 5%; 
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.3); 
}

/* Articles individuels */
.veille-article {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-color: rgba(255, 255, 255, 0.2);
}

/* Bordures verticales (entre les colonnes) */
.grille .veille-article:nth-child(odd) {
    border-right: solid 1px;
}

/* Bordures horizontales (entre les lignes) - Assure la séparation sauf pour la dernière ligne */
.grille .veille-article:nth-child(-n+4) {
    border-bottom: solid 1px;
}

/* Images */
.grille img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);
    object-fit: cover; 
}

/* Titres d'article */
.veille-article h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: rgb(19, 221, 211);
}

/* Paragraphes de résumé */
.veille-article p {
    font-size: 0.95em;
    line-height: 1.6;
    white-space: pre-wrap; 
}



/* ===============Responsive max 992px================ */
@media (max-width: 992px) {
    
    .grille {
        margin: 30px 3%; 
    }

    header {
        padding: 10px 15px;
        margin: 10px 15px 15px 15px;
    }

    .veille-article {
        padding: 15px;
    }
    
    .veille-article p {
        font-size: 0.9em;
        line-height: 1.5;
    }
}



/* ================Responsive max 600px================ */
@media (max-width: 600px) {
    
    header h2 {
        font-size: 1.2em;
    }
    
    .grille {
        grid-template-columns: 1fr; 
        margin: 20px 0;
        border: none;
    }

    /* Suppression des bordures verticales sur mobile */
    .grille .veille-article:nth-child(odd) {
        border-right: none;
    }
    
    
    .veille-article {
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
        padding: 20px;
    }
    
    .grille .veille-article:last-child {
        border-bottom: none;
    }
    
    .grille img {
        max-width: 50%;
        margin: 10px auto;
        display: block;
    }
    
    .intro {
        padding: 0 15px;
    }
}



/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
}